<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92258377790-9oq9b3kqq0b3733a5h4dj81hslr8iqr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92258377790-9oq9b3kqq0b3733a5h4dj81hslr8iqr9</string>
	<key>API_KEY</key>
	<string>AIzaSyAS0dDfr2SwXa5h-PtbZyEcUFPKqnxTNjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>92258377790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qrcordscanner</string>
	<key>PROJECT_ID</key>
	<string>qr-cord-scanner-app</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-cord-scanner-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92258377790:ios:448a969cc3290ca2b4316f</string>
	<key>DATABASE_URL</key>
	<string>https://qr-cord-scanner-app.firebaseio.com</string>
</dict>
</plist>